@media only screen and (max-width: 600px) {
  .main-app-wrapper main {
    grid-template-columns: 0px 1fr;
  }
  .login-page {
    grid-template-columns: 1fr;
  }
  /* user management */
  .user-management-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 3px;
  }
  /* end userman */
}
